.content {
    padding: 20px;
}

.layoutContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    left: -250px; /* Oculto por defecto */
    top: 0;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

/* Mostrar sidebar*/
.sidebar.open {
    left: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: var(--hover-bg);
    transition: background 0.3s, transform 0.2s;
}

.nav a:hover {
    background: var(--text-color);
    color: var(--bg-color);
    transform: scale(1.05);
}

.mainContent {
    flex-grow: 1;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
}

/* Mueve contenido con menu abierto */
.mainContent.shifted {
    margin-left: 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menuButton {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 5px;
    background-color: var(--sidebar-bg);
    border-radius: 5px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    padding: 6px 12px;
    border-radius: 6px;
    border: 2px solid var(--hover-bg);
}

.logoutButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.logoutButton svg {
    color: #dc3545;
    transition: color 0.3s, transform 0.2s;
}

.logoutButton:hover svg {
    color: #c82333;
    transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e1e;
        --text-color: #ffffff;
        --sidebar-bg: #2c2c2c;
        --header-bg: #333;
        --hover-bg: #444;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #f8f9fa;
        --text-color: #000;
        --sidebar-bg: #ffffff;
        --header-bg: #eaeaea;
        --hover-bg: #ddd;
    }
}
