.editContainer {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editTitle {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary);
}

.editFormGroup {
    margin-bottom: 15px;
    text-align: left;
}

.editLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.editInput,
.editTextarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--table-row-alt);
    color: var(--text);
}

.editTextarea {
    resize: vertical;
}

.editSaveButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.editSaveButton:hover {
    background-color: var(--secondary-darker);
}

.editLinksContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.editBackButton, 
.editViewLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.editBackButton {
    background-color: var(--primary);
}

.editViewLink {
    background-color: var(--primary);
}

.editBackButton:hover, 
.editViewLink:hover {
    background-color: var(--primary-darker);
    transform: scale(1.1);
}

.editIconMargin {
    margin-right: 10px;
}

.editFullScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.editMessageContainer {
    text-align: center;
}

.editLoading {
    color: var(--secondary-text);
    background-color: var(--table-row-alt);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editError {
    color: var(--error);
    background-color: var(--error-background);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.editLoaderIcon {
    margin-right: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}