.detailContainer {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailTitle {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--primary);
}

.detailDescription {
    font-size: 1.2em;
    color: var(--secondary-text);
    margin-bottom: 20px;
}

.detailFullScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.detailMessageContainer {
    text-align: center;
}

.detailLoading {
    color: var(--secondary-text);
    background-color: var(--table-row-alt);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailError {
    color: var(--error);
    background-color: var(--error-background);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.detailLoaderIcon {
    margin-right: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.detailBackButton, .detailEditLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.detailBackButton {
    background-color: var(--primary);
    margin-right: 10px;
    margin-top: 10px;
}

.detailEditLink {
    background-color: var(--secondary);
    margin-left: 10px;
    margin-top: 10px;
}

.detailBackButton:hover {
    background-color: var(--primary-darker);
    transform: scale(1.1);
}

.detailEditLink:hover {
    background-color: var(--secondary-darker);
    transform: scale(1.1);
}