.detailContainer {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.detailTitle {
    font-size: 2em;
    margin: 10px 40px;
    color: var(--primary);
}

.sharedIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    width: 24px;
    height: 24px;
}

.detailDescription {
    font-size: 1.2em;
    color: var(--secondary-text);
    margin-bottom: 20px;
}

.detailFullScreenContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detailMessageContainer {
    text-align: center;
}

.detailLoading {
    color: var(--secondary-text);
    background-color: var(--table-row-alt);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailError {
    color: var(--error);
    background-color: var(--error-background);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.detailLoaderIcon {
    margin-right: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.detailActionsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detailBackButton, .detailEditLink, .detailDeleteButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.detailBackButton {
    background-color: var(--primary);
}

.detailEditLink {
    background-color: var(--secondary);
}

.detailDeleteButton {
    background-color: red;
    border: none;
}

.detailBackButton:hover {
    background-color: var(--primary-darker);
    transform: scale(1.1);
}

.detailEditLink:hover {
    background-color: var(--secondary-darker);
    transform: scale(1.1);
}

.detailDeleteButton:hover {
    background-color: darkred;
    transform: scale(1.1);
}