.todoContainer {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todoTitle {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary);
}

.todoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.todoTable th {
    background-color: var(--table-header);
    color: var(--table-header-text);
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.todoTable td {
    border: 1px solid var(--border);
    padding: 12px;
    text-align: center;
}

.todoTable tbody tr:nth-child(odd) {
    background-color: var(--table-row-alt);
}

.todoTable tbody tr:hover {
    background-color: var(--table-row-hover);
}

.todoNoLists {
    font-style: italic;
    color: var(--secondary-text);
}

.todoFullScreenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.todoMessageContainer {
    text-align: center;
}

.todoLoading {
    color: var(--secondary-text);
    background-color: var(--table-row-alt);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoError {
    color: var(--error);
    background-color: var(--error-background);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.todoLoaderIcon {
    margin-right: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.todoViewLink,
.todoEditLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s;
}

.todoViewLink {
    background-color: var(--primary);
    margin-right: 10px;
}

.todoEditLink {
    background-color: var(--secondary);
    margin-left: 10px;
}

.todoViewLink:hover {
    background-color: var(--primary-darker);
    transform: scale(1.1);
}

.todoEditLink:hover {
    background-color: var(--secondary-darker);
    transform: scale(1.1);
}