*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

#root {
  color-scheme: light dark;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Variables Globales --- */
:root {
    --background: #f9f9f9;
    --text: #333;
    --primary: #007bff;
    --primary-darker: #0056b3;
    --border: #ddd;
    --table-header: #e9ecef;
    --table-header-text: #333;
    --secondary-text: #6c757d;
    --error: #dc3545;
    --error-background: #f8d7da;
    --table-row-alt: #f1f1f1;
    --table-row-hover: #e0e0e0;

    --bg-color: #f8f9fa;
    --sidebar-bg: #ffffff;
    --header-bg: #eaeaea;
    --hover-bg: #ddd;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #222;
        --text: #eee;
        --primary: #61dafb;
        --primary-darker: #38a1c7;
        --border: #444;
        --table-header: #333;
        --table-header-text: #eee;
        --secondary-text: #bbb;
        --error: #f8d7da;
        --error-background: #842029;
        --table-row-alt: #2a2a2a;
        --table-row-hover: #3a3a3a;

        --bg-color: #1e1e1e;
        --sidebar-bg: #2c2c2c;
        --header-bg: #333;
        --hover-bg: #444;
    }
}
